@using ToDoer.Models

@model ToDo

@{
    ViewData["Title"] = "Delete Item";
}

<form method="post" asp-action="PostDelete">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">
                <i class="fa-solid fa-trash-can"></i>
                Delete Item
            </h2>
        </div>
        <div class="row p-3">
            <div class="col-12 p-3">

                <div class="input-group p-3">
                    <span class="input-group-text" id="basic-addon1">Task Name</span>
                    <input type="text" asp-for="TodoName" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1" disabled>
                </div>

                <div class="input-group p-3">
                    @if (Model.Deadline != null)
                    {
                        <span class="input-group-text" id="basic-addon1">Deadline</span>
                    <input type="date" asp-for="Deadline" class="form-control" aria-label="Deadline"
                        aria-describedby="basic-addon1" disabled>
                    }
                    else
                    {
                        <span class="input-group-text" id="basic-addon1">Deadline</span>
                    <input type="text" asp-for="Deadline" class="form-control" aria-label="Deadline"
                        aria-describedby="basic-addon1" disabled value="~">
                    }
                </div>

                <div class="input-group p-3">
                    <span class="input-group-text" id="basic-addon1">Tags (separated by coma)</span>
                    <input type="text" asp-for="Tags" class="form-control" aria-label="Tags (separated by coma)"
                        aria-describedby="basic-addon1" disabled>
                </div>

                <div class="form-group col-12">

                    <div class="col-2 col-md-4 col-sm-12 col-12">
                        <br>
                        <input type="submit" class="btn btn-danger w-75" value="Delete" />
                    </div>
                    <div class="col-2 col-md-4 col-sm-12 col-12">
                        <br>
                        <a asp-action="List" class="btn btn-secondary w-75">Back</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}