@using ToDoer.Models

@model ToDo

@{
    ViewData["Title"] = "Task Info";
}

<div class="border p-3">
        <div class="row">
            <h2 class="text-black-50 pl-3">
                <i class="fa-solid fa-circle-info"></i>
                Task Information
            </h2>
            <div class="col-12 border p-3">
                <p>
                    @Model.TodoName
                </p>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12 p-3">
                    <div class="col-2 col-md-4 col-sm-12 col-12">
                        <br>
                        <a asp-action="List" class="btn btn-secondary w-75">Back</a>
                    </div>
            </div>
        </div>
    </div>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}