@using ToDoer.Models

@model ToDo

@{
    ViewData["Title"] = "Update Item";
}

<form method="post" asp-action="Update">
    <input asp-for="Id" hidden>
    <input asp-for="Complete" hidden>
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row col-12">
            <h2 class="text-black-50 pl-2 col-12">
                Update Item
            </h2>
        </div>
        <div class="row p-3">

            <div class="row align-items-center col-12 p-2">

                <div class="btn-group p-2" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" asp-for="Complete" id="btncheck1">
                    <label class="btn btn-outline-success" for="btncheck1" asp-for="Complete">Complete</label>
                </div>

                <div class="input-group mb-3 p-2">
                    <span class="input-group-text" id="basic-addon1">Task Name</span>
                    <input type="text" asp-for="TodoName" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <span asp-validation-for="TodoName" class="text-danger"></span>
                </div>

                <div class="form-group col-12">

                    <div class="col-2 col-md-4 col-sm-12 col-12">
                        <br>
                        <input type="submit" class="btn btn-success w-75" value="Update" />
                    </div>
                    <div class="col-2 col-md-4 col-sm-12 col-12">
                        <br>
                        <a asp-action="List" class="btn btn-secondary w-75">Back</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />}
}