@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ToDoer</h1>
    <br>
    <h2>Task Based Organizational Tool</h2>
</div>
<div class="w-100 btn-group p-3" role="group">
        <a asp-controller="ToDo" asp-action="List" class="btn btn-outline-primary mx-1 m-2 btn-lg">
            <i class="fa-solid fa-list-ul"></i>
            Task List
        </a>
        <a asp-controller="Archive" asp-action="List" class="btn btn-outline-secondary mx-1 m-2 btn-lg">
            <i class="fa-solid fa-box-archive"></i>
            Archive
        </a>
</div>
    @* Add stats and such later *@

@* put two nav buttons to the "to do list" and "backlog" with some cool icons from fontawesome *@